name: Android CI
on:
  push:
    branches:
      - "feature/**"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Run Unit tests
        run: ./gradlew :app:testDebugUnitTest :core:wallet:testDebugUnitTest :feature-premium:testDebugUnitTest :feature-logging:testDebugUnitTest
      - name: Build with Gradle
        run: ./gradlew assembleDebug
        env:
          BUILD_NUMBER: ${{ github.run_number }}
      - name: Upload to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.FIREBASE_APP_ID }}
          serviceCredentialsFileContent: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          file: app/build/outputs/apk/debug/app-debug.apk
          groups: testers
          releaseNotes: |
            Branch: ${{ github.ref_name }}
            Commit: ${{ github.event.head_commit.message }}
